/* revolving text----------------- */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* background-color: black; */
}

.svg-size-1 {
    width: 100px;
    height: 100px;
}

.text-1 {
    font-size: 30px;
    font-weight: bold;

    font-family: "Arial, sans-serif";
}


.svg-size-1 {
    animation: rotateText 30s linear infinite;
}

@keyframes rotateText {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}