   .border-1 {
     margin: 0 auto;
     padding: 2em;
     width: 200px;
     position: relative;
     text-align: center;
     border-radius: 10px;
     z-index: 1;
     background: conic-gradient(from var(--angle),
         /* transparent 90%, */
         #8b5cf6 0deg,
         #ec4899 90deg,
         #f43f5e 180deg,
         #22d3ee 270deg,
         #8b5cf6 360deg);
     animation: 3s spin linear infinite;
   }

   @property --angle {
     syntax: "<angle>";
     initial-value: 0deg;
     inherits: false;
   }

   .border-1::after,
   .border-1::before {

     content: '';
     border-radius: 10px;
     margin: 5px;
     background: black;
     position: absolute;
     padding: 5px;
     z-index: -1;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;

   }

   .border-1::before {
     filter: blur(1.5rem);
     opacity: 0.5;
   }

   @keyframes spin {
     from {
       --angle: 0deg;
     }

     to {
       --angle: 360deg;
     }
   }

